.custom-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons {
  margin-bottom: 5px;
}

.like-button {
  background-color: #f10909;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.like-button svg {
  fill: white;
  transition: transform 0.2s;
}

.like-button:hover svg {
  transform: scale(1.2); /* Agrandir l'icône au survol */
}
