@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html,
body {
  overscroll-behavior-y: none;
}

body {
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: 0.5px;
}

.logo-show {
  width: 40px;
  height: 40px;
  margin-left: 1vh;
  margin-top: 1vh;
}

// IMAGE SHOW

.image-container {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.workart-image {
  width: 85%;
  height: 85%;
  object-fit: contain;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));
  animation: subtleFloat 5s ease-in-out infinite;
}

// PANEL

.sliding-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform: translateY(90%);
  height: 90%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 1000;
}

.sliding-panel.active {
  transform: translateY(0);
}

.sliding-panel:not(.active) .panel-content {
  padding-top: 2.5rem;
}

.panel-handle {
  width: 100%;
  height: 15vh; // ou 15vh selon votre besoin
  border-radius: 3px;
  cursor: pointer;
  z-index: 9999;
  position: relative;

  // Barre de swipe (optionnel)
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 4px;
    background-color: var(--icon-color);
    border-radius: 2px;
  }
}

/* Si besoin, définissez la classe d-none */
.d-none {
  display: none;
}

.panel-content {
  padding: 2.5rem;
  padding-top: 0;
  overflow-y: scroll;
  height: 100%;
}

// PANEL MANAGER

.panel-manager {
  display: flex;
  flex-direction: column;
  height: 30vh;
}

.button-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10vh 1vh 3vh 1vh;
  position: absolute;
  top: 0;
}

/* Style pour l'état actif (sélectionné) */
.btn-check:checked + .btn-outline-primary {
  background-color: var(--primary-color); /* Bleu vif */
  color: white;
  border-color: var(--primary-color);
}

/* Style pour l'état normal */
.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 0.3s ease;
}

.btn-outline-primary:hover {
  background-color: rgba(52, 152, 219, 0.1);
}

.container-below-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.icon-like-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.reading-time {
  font-size: 12px;
  color: #aaa9a9;
  font-style: italic;
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: 0.5px;
}

.icon-map i {
  font-size: 23px;
  color: #798086;
}

.workart-details {
  padding: 15px;
}

.title {
  font-size: 24px;
  font-weight: 600; // plus léger que 600
  color: var(--primary-color);
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.author {
  font-size: 14px;
  font-weight: 400;
  color: var(--icon-color);
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: 0.5px;
  margin: 0;
}

.description {
  font-size: 14px;
  color: var(--text-color);
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: 0.5px;
  text-align: justify;
  z-index: 1;
  position: relative;
  display: inline-block;
  padding-left: 10px;
}

.description::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: var(--primary-color);
  transform: skewY(-5deg);
  z-index: -1;
  border-radius: 2px;
}

// MINI BALLS BACKGROUND

.ball-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -5;
}

.ball {
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
}

/* Génération des balles */
.ball:nth-child(1) {
  background: var(--primary-color);
  left: 12vw;
  top: 20vh;
  width: 0.3em;
  height: 0.3em;
  animation: float1 3s ease-in-out infinite alternate;
}
.ball:nth-child(2) {
  background: var(--primary-color);
  left: 30vw;
  top: 50vh;
  width: 0.5em;
  height: 0.5em;
  animation: float2 2.5s ease-in-out infinite alternate;
}
.ball:nth-child(3) {
  background: var(--primary-color);
  left: 60vw;
  top: 10vh;
  width: 0.4em;
  height: 0.4em;
  animation: float3 4s ease-in-out infinite alternate;
}
.ball:nth-child(4) {
  background: var(--primary-color);
  left: 80vw;
  top: 70vh;
  width: 0.6em;
  height: 0.6em;
  animation: float4 3.5s ease-in-out infinite alternate;
}
.ball:nth-child(5) {
  background: var(--primary-color);
  left: 45vw;
  top: 85vh;
  width: 0.7em;
  height: 0.7em;
  animation: float5 2s ease-in-out infinite alternate;
}
.ball:nth-child(6) {
  background: var(--primary-color);
  left: 15vw;
  top: 40vh;
  width: 0.2em;
  height: 0.2em;
  animation: float6 3.2s ease-in-out infinite alternate;
}
.ball:nth-child(7) {
  background: var(--primary-color);
  left: 70vw;
  top: 30vh;
  width: 0.4em;
  height: 0.4em;
  animation: float7 2.7s ease-in-out infinite alternate;
}
.ball:nth-child(8) {
  background: var(--primary-color);
  left: 25vw;
  top: 60vh;
  width: 0.5em;
  height: 0.5em;
  animation: float8 3.8s ease-in-out infinite alternate;
}
.ball:nth-child(9) {
  background: var(--primary-color);
  left: 55vw;
  top: 15vh;
  width: 0.3em;
  height: 0.3em;
  animation: float9 2.3s ease-in-out infinite alternate;
}
.ball:nth-child(10) {
  background: var(--primary-color);
  left: 90vw;
  top: 45vh;
  width: 0.6em;
  height: 0.6em;
  animation: float10 4.2s ease-in-out infinite alternate;
}
.ball:nth-child(11) {
  background: var(--primary-color);
  left: 35vw;
  top: 75vh;
  width: 0.4em;
  height: 0.4em;
  animation: float11 3.5s ease-in-out infinite alternate;
}
.ball:nth-child(12) {
  background: var(--primary-color);
  left: 65vw;
  top: 25vh;
  width: 0.5em;
  height: 0.5em;
  animation: float12 2.9s ease-in-out infinite alternate;
}
.ball:nth-child(13) {
  background: var(--primary-color);
  left: 10vw;
  top: 55vh;
  width: 0.3em;
  height: 0.3em;
  animation: float13 3.6s ease-in-out infinite alternate;
}
.ball:nth-child(14) {
  background: var(--primary-color);
  left: 80vw;
  top: 35vh;
  width: 0.6em;
  height: 0.6em;
  animation: float14 2.6s ease-in-out infinite alternate;
}
.ball:nth-child(15) {
  background: var(--primary-color);
  left: 50vw;
  top: 90vh;
  width: 0.4em;
  height: 0.4em;
  animation: float15 3.3s ease-in-out infinite alternate;
}
.ball:nth-child(16) {
  background: var(--primary-color);
  left: 40vw;
  top: 20vh;
  width: 0.5em;
  height: 0.5em;
  animation: float16 2.8s ease-in-out infinite alternate;
}
.ball:nth-child(17) {
  background: var(--primary-color);
  left: 75vw;
  top: 60vh;
  width: 0.3em;
  height: 0.3em;
  animation: float17 3.7s ease-in-out infinite alternate;
}
.ball:nth-child(18) {
  background: var(--primary-color);
  left: 20vw;
  top: 45vh;
  width: 0.6em;
  height: 0.6em;
  animation: float18 2.5s ease-in-out infinite alternate;
}
.ball:nth-child(19) {
  background: var(--primary-color);
  left: 60vw;
  top: 80vh;
  width: 0.4em;
  height: 0.4em;
  animation: float19 3.4s ease-in-out infinite alternate;
}
.ball:nth-child(20) {
  background: var(--primary-color);
  left: 30vw;
  top: 35vh;
  width: 0.5em;
  height: 0.5em;
  animation: float20 2.7s ease-in-out infinite alternate;
}
.workart-title-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start; // ou center si tu veux centré
  gap: 0.4rem;
  margin-bottom: 1.5rem;
}

.tag-buttons-group {
  display: flex;
  gap: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.tag-button {
  display: inline-block;
  padding: 0.4rem 0.9rem;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #798086; // couleur des icônes
  border-radius: 999px;
  color: #798086;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input.btn-check:checked + .tag-button {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

/* Animations */
@keyframes float1 {
  to {
    transform: translate(2rem, -3rem);
    opacity: 0.5;
  }
}
@keyframes float2 {
  to {
    transform: translate(-3rem, 2rem);
    opacity: 0.6;
  }
}
@keyframes float3 {
  to {
    transform: translate(4rem, -2rem);
    opacity: 0.4;
  }
}
@keyframes float4 {
  to {
    transform: translate(-2rem, 3rem);
    opacity: 0.7;
  }
}
@keyframes float5 {
  to {
    transform: translate(3rem, -4rem);
    opacity: 0.3;
  }
}
@keyframes float6 {
  to {
    transform: translate(-1rem, 2rem);
    opacity: 0.5;
  }
}
@keyframes float7 {
  to {
    transform: translate(3rem, -3rem);
    opacity: 0.6;
  }
}
@keyframes float8 {
  to {
    transform: translate(-4rem, 2rem);
    opacity: 0.4;
  }
}
@keyframes float9 {
  to {
    transform: translate(2rem, -2rem);
    opacity: 0.7;
  }
}
@keyframes float10 {
  to {
    transform: translate(-3rem, 4rem);
    opacity: 0.3;
  }
}
@keyframes float11 {
  to {
    transform: translate(2rem, -3rem);
    opacity: 0.5;
  }
}
@keyframes float12 {
  to {
    transform: translate(-2rem, 3rem);
    opacity: 0.6;
  }
}
@keyframes float13 {
  to {
    transform: translate(3rem, -2rem);
    opacity: 0.4;
  }
}
@keyframes float14 {
  to {
    transform: translate(-3rem, 4rem);
    opacity: 0.7;
  }
}
@keyframes float15 {
  to {
    transform: translate(2rem, -4rem);
    opacity: 0.3;
  }
}
@keyframes float16 {
  to {
    transform: translate(-1rem, 2rem);
    opacity: 0.5;
  }
}
@keyframes float17 {
  to {
    transform: translate(3rem, -3rem);
    opacity: 0.6;
  }
}
@keyframes float18 {
  to {
    transform: translate(-4rem, 2rem);
    opacity: 0.4;
  }
}
@keyframes float19 {
  to {
    transform: translate(2rem, -2rem);
    opacity: 0.7;
  }
}
@keyframes float20 {
  to {
    transform: translate(-3rem, 4rem);
    opacity: 0.3;
  }
}
