@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family:'Poppins',sans-serif;
}

.logo-show {
  width: 40px;
  height: 40px;
  margin-left: 1vh;
  margin-top: 1vh;
}

// IMAGE SHOW

.image-container {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.workart-image {
  width: 85%;
  height: 85%;
  object-fit: contain;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));
  animation: subtleFloat 5s ease-in-out infinite;
}

// PANEL

.sliding-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  transform: translateY(90%);
  height: 80%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 1000;
}

.sliding-panel.active {
  transform: translateY(0);
}

.panel-handle {
  width: 50px;
  height: 6px;
  background-color: #ccc;
  margin: 10px auto;
  border-radius: 3px;
  cursor: pointer;
  z-index:9999;
}

.panel-content {
  padding: 20px;
}


// PANEL MANAGER

.panel-manager {
  display: flex;
  flex-direction: column;
  height: 30vh;
}

.button-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10vh 1vh 3vh 1vh;
  position: absolute;
  top: 0;
}

.container-below-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.icon-like-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.reading-time {
  font-size: 12px;
  color: #aaa9a9;
  font-style: italic;
  font-family:'Poppins',sans-serif;
}

.icon-map i {
  font-size: 23px;
  color: #798086;
}

.workart-details {
  padding: 15px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-bottom: 8px;
  font-family:'Poppins',sans-serif;
}

.description {
  font-size: 14px;
  color: var(--text-color);
  font-family:'Poppins',sans-serif;
}
