

  <div class="image-container">
    <%= image_tag @workart.image_url, class: "workart-image"%>
  </div>

  <div class="icons">
        <i class="fas fa-map-marker-alt"></i>
  </div>

<div class="like-button" data-controller="like" data-action="click->like#toggle">
  <svg id="like-heart" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
    <path id="heart-path" fill="none" stroke="white" stroke-width="2" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
  </svg>
</div>



  <div class="workart-details">
    <h1 class="title"><%= @workart.workart_title %></h1>
    <p class="description"><%= @workart.description_short %></p>
  </div>

  <div class="button-menu">
    <button class="btn active">Short</button>
    <button class="btn">Casual</button>
    <button class="btn">Storytelled</button>
  </div>
