@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  --primary-color:  #3772FF;
  --secondary-color: #FF5864;
  --background-color: #FFFFFF;
  --text-color: #000000;
  --icon-color: #626262;
}
